@font-face {
  font-family: 'recycled';
  src: url("fonts/3 Times Recycled Old Newspaper.otf") format("opentype");
}

@font-face {
  font-family: 'asikue';
  src: url("fonts/AsikueTrial-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'fornire';
  src: url("fonts/Fornire-Light.otf") format("opentype");
}

@font-face {
  font-family: 'heathergreen';
  src: url("fonts/Heathergreen.otf") format("opentype");
}

@font-face {
  font-family: 'newsworthy';
  src: url("fonts/Newsworthy.otf") format("opentype");
}

@font-face {
  font-family: 'sanshiro';
  src: url("fonts/Sanshiro-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'steelfish';
  src: url("fonts/steelfish rg.otf") format("opentype");
}

body {
  background-color: black;
}

.App {
  width: 100%;
  background-color: black;
}

.tabloid {
  margin-top: 0.25em;
  font-family: times, serif;
}

.li:nth-of-type(2), .li:nth-of-type(12), .li:nth-of-type(22), .li:nth-of-type(32) {
  font-family: 'asikue';
}

.li:nth-of-type(3), .li:nth-of-type(13), .li:nth-of-type(23), .li:nth-of-type(33) {
  font-family: 'recycled';
}

.li:nth-of-type(8), .li:nth-of-type(18), .li:nth-of-type(28), .li:nth-of-type(38) {
  font-family: 'fornire';
}

.li:nth-of-type(4), .li:nth-of-type(14), .li:nth-of-type(24), .li:nth-of-type(34) {
  font-family: 'heathergreen';
}

.li:nth-of-type(5), .li:nth-of-type(15), .li:nth-of-type(25), .li:nth-of-type(35) {
  font-family: 'newsworthy';
}

.li:nth-of-type(6), .li:nth-of-type(16), .li:nth-of-type(26), .li:nth-of-type(36) {
  font-family: 'sanshiro';
}

.li:nth-of-type(7), .li:nth-of-type(17), .li:nth-of-type(27), .li:nth-of-type(37) {
  font-family: Arial, Helvetica, sans-serif;
}

.answers:nth-of-type(10), .answers:nth-of-type(20), .answers:nth-of-type(30), .answers:nth-of-type(40) {
  font-family: 'steelfish';
}

.blink-button {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6em;
}

.title {
  height: 1em;
  transform: rotate(-50deg);
  margin-right: -2em;
  margin-top: 3em;
  background-color: white;
  color: black;
  padding: 0.25em 0.5em 0.5em 0.5em;
  border: 1px solid red;
  font-weight:900;
  z-index: 999;
}

.title2 {
  height: 1em;
  transform: rotate(5deg);
  margin-top: 3em;
  margin-left: 1em;
  background-color: white;
  color: black;
  padding: 0.25em 0.5em 0.5em 0.5em;
  border: 1px solid red;
  font-weight:900;
}

button.blink-img {
  width: 10em;
  height: 10em;
  margin-top: 0.5em;
  background-color: transparent;
  border: 1.5px solid red;
  cursor: pointer;
}

.blink-img img {
  width: 10em;
  height: 10em;
}

.answers {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.li {
  list-style-type: none;
  border: 1px solid red;
  padding: 0.25em;
  display: grid;
  position: relative;
  flex: 1;
  min-width: 15%;
  max-width: 20%;
  height: calc(50vh - 5.25em);
  box-shadow: 10px 10px 40px 1px lightcoral inset,
  -10px -10px 40px 1px lightcoral inset;
  background-color: rgb(248,196,196);
}
/* h-offset v-offset blur spread color */

.gif {
  background-color: transparent;
  margin: auto;
  /* margin-bottom: 3em; */
  z-index:5;
}

.gif a {
  border-radius: 0px !important;
  pointer-events: none !important;
  cursor: default !important;
}
img.noblink {
  position: absolute;
  display: block;
  top: 0.6em;
  margin-left: -0.6em;
  width: 10em;
  height: 10em;
  background-color: transparent;
  border: 1.5px solid red;
  cursor: pointer;
  z-index: 2;
}

img.yesblink {
  position: absolute;
  top: 0.6em;
  margin-left: -5.05em;
  width: 10em;
  height: 10em;
  background-color: transparent;
  border: 1.5px solid red;
  cursor: pointer;
}

.newsimg {
  position:absolute;
  max-width:80%;
  /* top: 10%; */
  z-index: 0;
}

.newstitle {
  position:absolute;
  z-index: 3;
}

.newscontent {
  position:absolute;
  z-index: 3;
  top: 35%;
}

